*{ 
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0px;
}
img,video{
    width: 100%;
}
li{
    list-style-type: none;
}
body{
    background-color: #4f3b1485;
}
/*header*/
.header{
    background-color: #A0A0A0;
    width: 100%;
}
.arriba{
    display: flex;
    justify-content: space-between;
    border-bottom-color: #B1832C ;
    border-bottom-style: solid; 
    border-bottom-width: 5px;
}
.abajo{
    text-align: center;
}
.logo{
    width: 50%;
}
.opciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
}

.opciones li a{
    color: white;
    text-decoration: none;
}
.opciones li a:hover{
    text-decoration: underline;
}


.search a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
}

/*main*/
.foto{
    padding: 5%;
}
.generos{
    color: white;
}
.center{
    display: flex;
}
#recom {
    margin: 1% auto;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.3rem;
    padding: 1%;
    color:white;
    border: none;
}
  
#recom:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 3px black;
    border-radius: 25px;
}

.recomendaciones{
    display: none;
}
.mostrar{
    display: block;
}
.imgrecomendadas:hover{
    transform:scale(0.97);
    -ms-transform:scale(0.97);
    border-radius: 10px;
    border: solid ghostwhite;
}




  



/*Aquí iran los media queries*/

@media(min-width: 768px){
    .abajo{
        display: flex;
        justify-content: space-between;
    }
    .opciones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px auto;
    }
    .intro{
        background-color:#4f3b1485;
        text-align: center;
        height: 300px;
    }
}

@media (min-width: 1020px){
    
    .opciones{
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
        width: 100%;
    }
    .fondo{
        background-image: url(../img/fondodescktop.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        height: 600px;
    }

    .intro{
        font-size: 22px;
        height: 600px;
        justify-content: center;
    }

    .tapar{
        height: 60px;
    }
    .data{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .foto{
        width: 70%;
        padding: 5%;
    }

}




































































































footer {
    width: 100%;
    background: gray;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  footer .TOPS {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 0.8rem;
    margin: 2%;
    color: rgba(255, 255, 255, 0.8);
  }
  
  footer #logo {
    width: 50%;
    margin-top: 5%;
  }
  
  footer .redes {
    margin: 2%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  footer div a {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.1rem;
  }
  
  footer .contacto {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 2%;
  }
  
  footer .contacto p {
    color: rgba(255, 255, 255, 0.8);
  }
  
  footer .redes h2, .contacto h2 {
    color: rgba(255, 255, 255, 0.67)
  }