/*cosas generales*/
*{ 
    box-sizing: border-box;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px; 
}
li{
    list-style-type: none;
}
main{
    background-color: slategrey;
}


/*HEADER*/

.header{
    background-color: black;
    width: 100%;
}
.arriba{
    display: flex;
    justify-content: space-between;
    border-bottom-color: white ;
    border-bottom-style: solid; 
}
.abajo{
    text-align: center;
}
.opciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
}

.opciones li a{
    color: white;
    text-decoration: none;
}
.opciones li a:hover{
    text-decoration: underline;
}


.search a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
}

/*intro*/
.intro {
    background-color: beige;
    margin: 10px;
}

/*generos*/
.generos{
    background-color: powderblue;
    margin: 10px;
    text-align: center;
}

.opcionesgenero li a{
    color: rebeccapurple;
    text-decoration: none;
    font-size: 2rem;
}
.opcionesgenero li a:hover{
    text-decoration: underline;
}
    /*dropdown*/
.dropdown1{
    display: none;
    background: burlywood;
    text-align: center;
    color: rgb(65, 37, 2);
    position: absolute;
    width: 20%;
    left: 7%;
    border: brown solid 5px;
}
.dropdown2{
    display: none;
    background: burlywood;
    text-align: center;
    color: rgb(65, 37, 2);
    position: absolute;
    width: 20%;
    left: 40.5%;
    border: brown solid 5px;
}
.dropdown3{
    display: none;
    background: burlywood;
    text-align: center;
    color: rgb(65, 37, 2);
    position: absolute;
    width: 20%;
    left: 72.5%;
    border: brown solid 5px;
}







.footer{
    display: flex;
    color: white;
    background-color: black;
    height: 70  px;
    justify-content: space-between;
}
.nuestras{
    padding: 23px;
}

@media(min-width: 768px){
    .opciones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px auto;
    }
    .opcionesgenero{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

}

@media (min-width: 1020px){
    
    .opciones{
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
        width: 100%;
    }
    .opcionesgenero{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .header{
        height: 100px;
    }
    .arriba{
        height: 50px;
    }
    .generos ul li:hover > ul{
        display: block;
    }
}