/*cosas generales*/
*{ 
    box-sizing: border-box;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0px;
}
main{
    background-color:#B1832C ;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
}
/*spinner carga*/
.contenedor-carga{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 2s ease ;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    z-index: 10000;
}

.carga{
    border: 15px solid #ccc;
    border-top-color: #f4266a ;
    border-top-style: groove;
    height: 13.3%;
    width: 7%;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 2.5s linear infinite ;
    -o-animation: girar 2.5s linear infinite;
    animation: girar 2.5s linear infinite;
}

@keyframes girar{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/*HEADER*/

.header{
    background-color: #A0A0A0;
    width: 100%;
}
.arriba{
    display: flex;
    justify-content: space-between;
    border-bottom-color: #B1832C ;
    border-bottom-style: solid; 
    border-bottom-width: 5px;
}
.abajo{
    text-align: center;
}
.logo{
    width: 50%;
}
.opciones{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.5rem;
}

.opciones li a{
    color: white;
}
.opciones li a:hover{
    text-decoration: underline;
}
#search{
    display: none;
    width: 200px;
    height: 50%;
}
.avanzado{
    display: none;
}
/*AVANZADO boton*/
.avanzado {
    margin-top:10px;
    width:10%;
    height: 10%;
    background-color: #fff;
    padding: 5px 5px;
    font-size: 15px;
    font-weight: 500;
    color: #3498db;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
    
} 

/*INTRO*/
.fondo{
    background-color: #4F3B14;
}
.video{
    display: none;
    width: auto;
}
.intro{
    display: flex;
    flex-direction: column;
    padding: 10% 10% 10% 10%;
    text-align: center;
    align-items: center;
}

/*Lista*/
.titulos{
    color: rgb(0, 0, 0);
    text-decoration: #A0A0A0 underline;
}
.pelicula{
    border: solid 5px black;
    padding: 8px;
    background-color:goldenrod;
}
.serie{
    border: solid 5px black;
    padding: 8px;
    background-color:goldenrod;
}
.destacar:hover{
    transform:scale(0.97);
    -ms-transform:scale(0.97);
    border-radius: 10px;
    border: solid ghostwhite;
}

/*footer*/
footer {
    width: 100%;
    background: gray;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
footer .THDB {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 0.8rem;
    margin: 2%;
    color: rgba(255, 255, 255, 0.8);
}
  
footer #logo {
    width: 50%;
    margin-top: 5%;
}
  
footer .redes {
    margin: 2%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer .redes h2 {
    font-size: 1.5rem;
}
  
footer div a {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.1rem;
}
  
footer .contacto {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 2%;
}
  
footer .contacto p {
    color: rgba(255, 255, 255, 0.8);
}
  
footer .redes h2, .contacto h2 {
    color: rgba(255, 255, 255, 0.67)
}

footer .contacto {
    display: none;
}
/*Aquí iran los media queries*/

@media(min-width: 768px){
    .abajo{
        display: flex;
        justify-content: space-between;
    }
    .opciones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 10px auto;
    }
    .intro{
        background-color:#4f3b1485;
        text-align: center;
        height: 300px;
    }

    .fondo{
        background-image: url(../img/fondo\ tablet.jpg);
        height: 300px;
    }
    #search{
        display: block;
    }
    .avanzado{
        display: block;
    }
    footer .contacto {
        display: block;
    }
}

@media (min-width: 1020px){
    
    .opciones{
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
        width: 100%;
    }
    .fondo{
        background-image: url(../img/fondodescktop.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        height: 600px;
    }

    .intro{
        font-size: 22px;
        height: 600px;
        justify-content: center;
    }
    .tapar{
        height: 60px;
    }
}
