
body
{
  margin: 0;
  padding: 60;  
}
.tarjeta
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 546px;
    background: #000;
}
.tarjeta-poster
{
    position: relative;
    overflow: hidden;
}
.tarjeta-poster:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(11, 8, 19) 10%, transparent);
    transition: 0.5s;
    z-index: 1;
}
.tarjeta-poster img
{
    width: 100%;
}
.details
{
    position: absolute;
    padding: 40px;
    width: 100%;
    height: 100%;
    bottom: 0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 2;   
}
.details h2
{
    color: #fff; 
    margin: 0;
    padding: 10;
    font-size: 50px;
}


